/* GLOBAL STYLES */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #dce0d9;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
    line-height: 28px;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
}

a,
a:hover,
a:active,
a:focus {
    border: 0 none;
    outline: 0 none;
    text-decoration: none;
}


/* GLOBAL STYLES */