::ng-deep p-menubar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

::ng-deep .custom-menubar{
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
