<p-card [style]="{'margin-top': '120px'}">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <div class="h4 mt-0 title animate-title">{{('AboutComponent.P0' | translate) | uppercase}}</div>
        <p style="text-align: justify;" >{{'AboutComponent.P1' | translate}}</p>
        <p style="text-align: justify;" >{{'AboutComponent.P2' | translate}}</p>
        <p style="text-align: justify;" >{{'AboutComponent.P3' | translate}}</p>
      </div>
    </div>
  </div>
</p-card>
