<!-- <p-card [style]="{'margin-top': '50px'}" styleClass="custom-body">
    <p-timeline [value]="detail" align="alternate">

        <ng-template pTemplate="marker" let-event>
            <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                <i [ngClass]="event.icon"></i>
            </span>
        </ng-template>

        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.status" [subheader]="event.date">
                <p>{{event.text}}</p>
                <button pButton label="Read more" class="p-button-text"></button>
            </p-card>
        </ng-template>

    </p-timeline>
</p-card>

<div class="square-wrapper">
  <div class="square square-transition"></div>
</div> -->
